* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f9;
}

.video-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #282c34;
    color: white;
}

.content {
    text-align: center;
}

.title {
    font-size: 3rem;
    letter-spacing: 3px;
    animation: fadeIn 2s ease-out;
}

.subtitle {
    font-size: 1.5rem;
    margin-top: 20px;
    opacity: 0;
    animation: fadeInSubtitle 4s ease-in forwards;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInSubtitle {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
