* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #00FF00;
}

.video-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #000;
    color: #00FF00;
}

.content {
    text-align: center;
}

.typing {
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid;
    width: 30ch;
    animation: typing 4s steps(30) forwards, blink 0.75s step-end infinite;
}

/* Typing animation */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 30ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Blinking cursor */
.blink-cursor {
    font-size: 2rem;
    animation: blink-cursor 1s step-end infinite;
}

@keyframes blink-cursor {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
